@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

#root {
  background-color: #111111 !important;
}

body {
  font-family: "Oswald", sans-serif;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-pagination-bullet {
  background: #fff;
}

.removeScroll{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
 
.removeScroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
